{% extends 'base.html.twig' %}

{% block title %}List of all orders{% endblock %}

{% block body %}

<div class="container">

    <div class="mb-2 p-2 bg-white">

        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.status }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mb-2 p-2 bg-white">
        <a href="{{ path('order') }}"
           class="btn btn-outline-primary btn-sm">Place order</a>
    </div>
</div>

{% endblock %}